.sean-lb {
  /* position: relative;
  z-index: -1; */
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
}

.sean-lb:after {
  /* position: relative;
  z-index: -1; */
  content: "";
  display: inline-block;
  margin-top: 15px;
  margin-left: 16px;
  width: 13px;
  height: 13px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.sean-lb:hover {
  box-shadow: 0px 0px 4px 4px rgb(230, 230, 230);
  cursor: pointer;
}

.rb {
  /* position: relative;
  z-index: -1; */
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
}

.rb:after {
  content: "";
  display: inline-block;
  margin-top: 15px;
  margin-left: 11px;
  width: 13px;
  height: 13px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rb:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px 3px rgb(230, 230, 230);
}
