/* *{
  box-sizing: border-box
} */

/* .links {
  float: right;
} */
body {
  width: 100%;
}

.row {
  width: 100%;
  overflow: hidden;
  min-width: 625px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  float: left;
  /* padding: 10px; */
  height: 100%;
}

.imageContainer {
  display: block;
}

.columnOne {
  /* position:absolute; */
  float: left;
  width: 70px;
  height: 100%;
}

.buttonColumn {
  margin-top: 37%;
  padding: 10px;
  float: left;
  width: 5%;
}

.buttonColumn2 {
  margin-top: 39%;
  display: block;
  width: 5%;
  float: left;
  padding: 10px;
  padding-right: 15px;
}

.mainImage {
  border-radius: 10px;
  text-align: center;
  margin: 0% auto;
  top: 50%;
  width: 100%;
  height: auto;
}

.mainImage:hover {
  cursor: zoom-in;
}

.mainImageColumn {
  float: left;
  width: 65%;
  padding: 20px;
  height: 90vh;
  /* outline: auto; */
  /* overflow: hidden; */
}

.image:hover {
  border: solid black;
  cursor: pointer;
}

.image {
  border: solid transparent;
  display: block;
  border-radius: 10px;
  max-height: 90%;
  max-width: 90%;
  height: 65px;
  width: 65px;
  object-fit: cover;
}
